<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz Master</title> <!-- CHANGE-ME -->

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/public/js/layouts/layout.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/layouts/layout.css">
</head>
<body>
  <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">QM2</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Take Quiz<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Make Quiz</a></li>

          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Available Quizzes">
            </div>
            <button type="submit" class="btn btn-success">Check</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
          <% if (!authenticated) { %>
            <a href="/signup" class="btn btn-lg btn-warning">Sign Up</a>
            <a href="/signin" class="btn btn-lg btn-primary">Sign In</a>
          <% } else { %>
            <button id="signout-btn" class="btn btn-lg btn-danger">Sign Out</button>
          <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <%- content %>

</body>
</html>
