<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hapi Template</title> <!-- CHANGE-ME -->

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/public/js/layouts/layout.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/layouts/layout.css">
</head>
<body>
  {{#if authenticated}}
    <button id="signout-btn" class="btn btn-default">Sign Out</button>
  {{else}}
    <a href="/signup" class="btn btn-default">Sign Up</a>
    <a href="/signin" class="btn btn-default">Sign In</a>
  {{/if}}

  {{{content}}}
</body>
</html>
