
<div class='container row col-md-12 col-sm-6'>
  <div class='col-md-6 col-sm-6'>
    <h1>Quiz Master</h1>
    <img src='/public/photos/qm2_logo.jpeg'>
  </div>
  <div class='col-md-4 col-sm-6'>
    <h4>
      Welcome to Quizmaster 2! QM2 let's you take quizzes as well as make quizzes.</br></br>
      Feel free to test your knowledge against your friends.</br></br>
      Click Take Quiz to take one of our challenging quizzes.</br></br>
      Click Make Quiz to make your own questions.</br></br>
      Earn badges, rewards and bragging rights. Try it!</br>
    </h4>
  </div>
</div>

<script src="/public/js/static_pages/index.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/index.css">
