<div class='container row col-md-12 col-sm-6'>
  <div class='col-md-6 col-sm-6'>
    <h1>Quiz Master</h1>
    <img src='/public/photos/qm2_logo.jpeg'>
  </div>
  <div id="tally" class="container">
    <div id="gameover" class="row">
      <h1 class="col-md-12">Game Over</h1>
    </div>
    <div class="row">
      <section class="score-summary col-md-6">
        <h3>Final Score Details</h3>
          <div class="list-group col-md-10">
            <li class="list-group-item list-group-item">Category and Level: <span id="catLevel" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Questions Skipped: <span id="qstSkp" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Questions Attempted: <span id="qstTry" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">Answered Correctly :<span id="ansRgt" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">% Correct of Attempted: <span id="pctTry" class="pull-right"></span></li>
            <li class="list-group-item list-group-item">% Correct of Total Asked: <span class="pctTot pull-right"></span></li>
            <li class="list-group-item list-group-item">Total Points: <span id="totPts" class="pull-right"></span></li>
          </div>
      </section>
      <section class="player-status col-md-5 col-md-offset-1">
        <h3>Player Status</h3>
          <div class="list-group col-md-12">
            <li class="list-group-item list-group-item-success">Based on your % Correct of Total:<span class="pctTot pull-right"></span></li>
            <li class="list-group-item list-group-item-danger">You have earned the status of<span id="chkStat" class="pull-right"></span></li>
            <img id="statPic" src="" class="img-responsive">
          </div>
      </section>
    </div>
    <div class="row">
      <input id="restart-button" type="submit" value="Play Again" class="col-md-12">
    </div>
  </div>
</div>

<script src="/public/js/static_pages/quiz_sum.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/quiz_sum.css">
