<div class='container row col-md-12 col-sm-6'>
  <div class='col-md-6 col-sm-6'>
    <h1>Quiz Master</h1>
    <img src='/public/photos/qm2_logo.jpeg'>
  </div>
    <div class="container">
      <div class="row col-xs-12">
        <h1>
          Quiz Maker
        </h1>
      </div>
    </div>

    <ol id="question-list">
    </ol>

    <!-- $('ul#question-list li').each() -->
    <form id="question-form" class="container">
      <div class="question col-xs-6">
        <label>Question</label>
        <input class="question" placeholder="Input question here">
      </div>
      <div class="answer col-xs-6">
        <label>Answer</label>
        <input class="answer" placeholder="Input answer here">
      </div>
        <div class="dummy1 col-xs-6">
        <label>Dummy1</label>
        <input class="dummy1" placeholder="Input 1st dummy answer here">
      </div>
      <div class="dummy2 col-xs-6">
        <label>Dummy2</label>
        <input class="dummy2" placeholder="Input 2nd dummy answer here">
      </div>
      <div class="url col-xs-6">
        <label>url</label>
        <input class="url" placeholder="Input link to relevant media">
      </div>
      <button id="question-create" class="btn btn-info">Create New Question</button>
    </form>

    <div class="quiz-details">
      <div>
        <label>Quiz Name</label>
        <input class="quiz-name" placeholder="Input quiz name here">
      </div>
      <div>
        <label>Quiz Topic</label>
        <input class="quiz-topic" placeholder="Input quiz topic here">
      </div>
      <button id="create-quiz-button" type="button" class="btn btn-success">Create Quiz</button>
    </div>
</div>

<script src="/public/js/quizzes/quiz_make.js"></script>
<link rel="stylesheet" href="/public/css/quizzes/quiz_make.css">