<div class='container row col-md-12 col-sm-6'>
  <div class='col-md-6 col-sm-6'>
    <h1>Quiz Master</h1>
    <img src='/public/photos/qm2_logo.jpeg'>
  </div>
    <div class="container">
      <div class="row col-xs-12">
        <h1>
          Quiz Maker
        </h1>
      </div>
    </div>


    <form id="question-form" class="container">
      <div class='col-md-12'>
        <label>Question</label>
        <input type="text" class="question" placeholder="Insert question here">
      </div>
      <div class='col-md-6'>
        <label>Answer</label>
        <input type="text" class="answer" placeholder="Insert answer here">
      </div>
      <div class='col-md-6'>
        <label>Dummy1</label>
        <input type="text" class="dummy1" placeholder="Insert 1st dummy answer here">
      </div>
      <div class='col-md-6'>
        <label>Dummy2</label>
        <input type="text" class="dummy2" placeholder="Insert 2nd dummy answer here">
      </div>
      <div class='col-md-6'>
        <label>url</label>
        <input type="text" class="url" placeholder="Insert link to relevant media">
      </div>
      <div class='col-md-4'>
        <button id="question-create" class="btn btn-info">Create New Question</button>
      </div>
    </form>

    <div class='container col-md-9'>
      <ol id="question-list">
      </ol>
    </div>

    <div class="container quiz-details">
      <div class="question col-xs-6">
        <label>Quiz Name</label>
        <input type="text" class="quiz-name" placeholder="Insert quiz name here">
      </div>
      <div class="question col-xs-6">
        <label>Quiz Topic</label>
        <input type="text" class="quiz-topic" placeholder="Insert quiz topic here">
      </div>
      <div class='col-md-4'>
        <button id="create-quiz" type="button" class="btn btn-success">Create New Quiz</button>
      </div>
    </div>
</div>

<script src="/public/js/quizzes/quiz_make.js"></script>
<link rel="stylesheet" href="/public/css/quizzes/quiz_make.css">